@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GTAmerica";
    src: url("/fonts/GT-America/GT-America-Light.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "GTAmerica";
    src: url("/fonts/GT-America/GT-America-Bold.ttf");
    font-style: bold;
    font-weight: 700;
    font-display: swap;
}
@font-face {
  font-family: "GTAmerica";
  src: url("/fonts/GT-America/GT-America-Black.otf");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Freight Text Pro";
  src: url("/fonts/Freight_Text_Pro/freigtexprobook-webfont.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Freight Text Pro";
  src: url("/fonts/Freight_Text_Pro/freigtexprolig-webfont.woff2");
  font-style: light;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Freight Text Pro";
  src: url("/fonts/Freight_Text_Pro/freigtexprobold-webfont.woff2");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

html {
  font-size: 18px;
  font-family: "GTAmerica";
  --typescale: 1.25;
  --base-font-size: 1rem;
  --big-line-height:1.25;
  --small-line-height:1.1;
  --type-preset-1__fontSize: calc(1em * var(--typescale) * var(--typescale) * var(--typescale) * var(--typescale) * var(--typescale));
  --type-preset-2__fontSize: calc(1em * var(--typescale) * var(--typescale) * var(--typescale) * var(--typescale));
    --type-preset-3__fontSize: calc(1em * var(--typescale) * var(--typescale) * var(--typescale));
    --type-preset-4__fontSize: calc(1em * var(--typescale) * var(--typescale));
    --type-preset-5__fontSize: calc(1em * var(--typescale));
    --type-preset-6__fontSize: 1em;
    --type-preset-7__fontSize: calc(1em / var(--typescale));
    --type-preset-8__fontSize: calc(1em / var(--typescale) / var(--typescale));

}
body {
  font-size: var(--base-font-size);
  line-height: var(--big-line-height);
  
}
@media (max-width: 768px) {
  :root {
    font-size:18px;
    --typescale: 1.1;
  }
}

@media (max-width: 640px) {
  :root {
    font-size:16px;
    --typescale: 1.1;
  }
}

@layer components {
  .responsive-container {
    @apply px-xl md:px-4xl 2xl:px-0 2xl:mx-auto 2xl:max-w-screen-xl ;
  }
  .responsive-container-content {
    @apply px-xl md:px-4xl xl:px-0 xl:mx-auto xl:max-w-4xl;
  }
  .type-preset-1 {
    font-size: var(--type-preset-1__fontSize);
  }
  .type-preset-2 {
    font-size: var(--type-preset-2__fontSize);
  }
  .type-preset-3 {
    font-size: var(--type-preset-3__fontSize);
  }
  .type-preset-4 {
    font-size: var(--type-preset-4__fontSize);
  }
  .type-preset-5 {
    font-size: var(--type-preset-5__fontSize);
  }
  .type-preset-6 {
    font-size: var(--type-preset-6__fontSize);
  }
  .type-preset-7 {
    font-size: var(--type-preset-7__fontSize);
  }
  .type-preset-8 {
    font-size: var(--type-preset-8__fontSize);
  }
  
}
/*Added because the tailwind options seem to be not working*/
.list-style {
  list-style-position: inside;
}

.list-style li::before {
  /* https://www.w3schools.com/howto/howto_css_bullet_color.asp */
  content: "— ";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: black; /* Change the color */
  /*font-weight: bold;  If you want it to be bold */
   /*display: inline-block; Needed to add space between the bullet and the text */
  /*width: 1em;  Also needed for space (tweak if needed) */
   /*margin-left: -1em; Also needed for space (tweak if needed) */
}
.rainbow-gradient {
  background-image: linear-gradient(
    to right,
    #de4535,
    #e6993f,
    #fcf050,
    #72b656,
    #0386cf,
    #b12fa7,
    #000002,
    #875525,
    #8abde6,
    #e99cbd,
    #ffffff
  );
}
