@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GTAmerica";
    src: url("/fonts/Gt-America-Font/GT America Regular/GT America Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
@font-face {
    font-family: "GTAmerica";
    src: url("/fonts/Gt-America-Font/GT America Bold/GT America Bold.ttf");
    font-style: bold;
    font-weight: 600;
    font-display: swap;
}


h2{
    font-size: larger;
    font-weight: bold;  
}

h3{
    font-size: large;
    font-weight: bold;  
}